.container {
    margin: 1.25rem;

    .filters {
        display: flex;

        mat-form-field {
            width: 18.75rem;
            margin-right: 1.25rem;
        }

        .buttons {
            flex: auto;
            align-self: center;

            button {
                margin-left: 0.9375rem;
            }
        }
    }

    .game-list { 
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;

        display: flex;
        flex-flow: wrap;
        overflow: auto;

        app-game-item:nth-child(odd) {
            filter: brightness(0.82);
        }
    }

    .buttons {
        margin-top: 1rem;
        text-align: right;
    }
}

button {
    width: 9.375rem;
}
