<div class="container">
    <h1>{{ 'game.catalog_title' | translate }}</h1>

    <div class="filters">
        <form>
            <mat-form-field>
                <mat-label>{{ 'common.game_title' | translate }}</mat-label>
                <input type="text" matInput [placeholder]="'common.game_title' | translate" [(ngModel)]="filterTitle" name="title">
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ 'game.filter_category_label' | translate }}</mat-label>
                <mat-select disableRipple [(ngModel)]="filterCategory" name="category">
                    <mat-option *ngFor="let category of categories" [value]="category">{{category.name}}</mat-option>
                </mat-select>
            </mat-form-field>    
        </form>

        <div class="buttons">
            <button mat-stroked-button (click)="onCleanFilter()">{{ 'common.clear' | translate }}</button> 
            <button mat-stroked-button (click)="onSearch()">{{ 'common.filter' | translate }}</button> 
        </div>   
    </div>   

    <div class="game-list">
        <app-game-item *ngFor="let game of games; let i = index;" (click)="editGame(game)" [game]="game">
        </app-game-item>
    </div>

    <div class="buttons">
        <button mat-flat-button color="primary" (click)="createGame()">{{ 'game.new_game' | translate }}</button>            
    </div>   
</div>
