.container {
  margin: 1.25rem;

  mat-table {
    margin-top: 0.625rem;
    margin-bottom: 1.25rem;

    mat-row:nth-child(odd),
    .mat-row:nth-child(odd),
    .mat-mdc-row:nth-child(odd) {
      background-color: rgba(63, 81, 181, 0.12);
    }

    .mat-header-row {
      background-color:#f5f5f5;

      .mat-header-cell {
        text-transform: uppercase;
        font-weight: bold;
        color: #838383;
      }      
    }

    .mat-column-id {
      flex: 0 0 20%;
      justify-content: center;
    }

    .mat-column-action {
      flex: 0 0 10%;
      justify-content: center;
    }
  }

  .buttons {
    margin-top: 1rem;
    text-align: right;
  }
}