<div class="container">
    <mat-card>
        <div class="photo">
            <img [src]="'/foto' + game.id + '.png'" [attr.alt]="('game.photo_alt_prefix' | translate) + game.title">
        </div>
        <div class="detail">
            <div class="title">{{game.title}}</div>
            <div class="properties">
                <div><i>{{ 'game.card_age' | translate }}</i>+{{game.age}}</div>
                <div><i>{{ 'game.card_category' | translate }}</i>{{game.category.name}}</div>
                <div><i>{{ 'game.card_author' | translate }}</i>{{game.author.name}}</div>
                <div><i>{{ 'game.card_nationality' | translate }}</i>{{game.author.nationality}}</div>
            </div>
        </div>
    </mat-card>
</div>
