<div class="container">

    <h1 *ngIf="category.id == null">{{ 'category.create_title' | translate }}</h1>
    <h1 *ngIf="category.id != null">{{ 'category.edit_title' | translate }}</h1>
    
    <form>
        <mat-form-field>
            <mat-label>{{ 'common.identifier' | translate }}</mat-label>
            <input type="text" matInput [placeholder]="'common.identifier' | translate" [(ngModel)]="category.id" name="id" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ 'common.name' | translate }}</mat-label>
            <input type="text" matInput [placeholder]="'category.name_placeholder' | translate" [(ngModel)]="category.name" name="name" required>
            <mat-error>{{ 'common.name_empty_error' | translate }}</mat-error>
        </mat-form-field>
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">{{ 'common.close' | translate }}</button>
        <button mat-flat-button color="primary" (click)="onSave()">{{ 'common.save' | translate }}</button>
    </div>
</div>
