<div class="container">
    <h1 *ngIf="game.id == null">{{ 'game.create_title' | translate }}</h1>
    <h1 *ngIf="game.id != null">{{ 'game.edit_title' | translate }}</h1>

    <form>
        <mat-form-field>
            <mat-label>{{ 'common.identifier' | translate }}</mat-label>
            <input type="text" matInput [placeholder]="'common.identifier' | translate" [(ngModel)]="game.id" name="id" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ 'game.title_label' | translate }}</mat-label>
            <input type="text" matInput [placeholder]="'common.game_title' | translate" [(ngModel)]="game.title" name="title" required>
            <mat-error>{{ 'game.title_empty_error' | translate }}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ 'game.age_label' | translate }}</mat-label>
            <input type="number" matInput [placeholder]="'game.age_label' | translate" [(ngModel)]="game.age" name="age" required>
            <mat-error>{{ 'game.age_empty_error' | translate }}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ 'game.category_label' | translate }}</mat-label>
            <mat-select disableRipple [(ngModel)]="game.category" name="category" required>
                <mat-option *ngFor="let category of categories" [value]="category">{{category.name}}</mat-option>
            </mat-select>
            <mat-error>{{ 'game.category_empty_error' | translate }}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ 'game.author_label' | translate }}</mat-label>
            <mat-select disableRipple [(ngModel)]="game.author" name="author" required>
                <mat-option *ngFor="let author of authors" [value]="author">{{author.name}}</mat-option>
            </mat-select>
            <mat-error>{{ 'game.author_empty_error' | translate }}</mat-error>
        </mat-form-field>
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">{{ 'common.close' | translate }}</button>
        <button mat-flat-button color="primary" (click)="onSave()">{{ 'common.save' | translate }}</button>
    </div>
</div>
